<div class="row">
    <h3>Aggiungi un'azienda</h3>
    
    <%= form_for :company, :url => { :controller => :admins, :action => :create_company } do |f| %>
    <ul>
        <% if flash[:company_error] %>
        <li class="field">
            <div class="alert danger center">
                <%= flash[:company_error] %>
                <% flash.discard(:company_error) %>
            </div>
        </li>
        <% end%>
        <li class="field">
            <%= f.text_field :name, :placeholder => "Nome", :class => "text input" %>
        </li>
        <li class="field">
            <%= f.text_field :owner, :placeholder => "Proprietario", :class => "text input" %>
        </li>
        <li class="field">
            <%= f.text_field :phone, :placeholder => "Telefono", :class => "text input" %>
        </li>
        <li class="field">
            <%= f.text_field :email, :placeholder => "Email", :class => "text input" %>
        </li>
        <button class="medium primary btn">
            <a>Invia</a>
        </button>
    </ul>
    <% end %>
</div>