<div class="row"><h2>Lista docenti</h2></div>
<% if flash[:notice] %>
<div class="row alert success center">
  <h4><%= flash[:notice] %></h4>
  <% flash.discard( :notice ) %>
</div>
<% end %>
<div class="row">
<table class="striped rounded">
  <thead><tr>
  <th>Nome</th>
  <th>Cognome</th>
  <th>Email</th>
  <th>Telefono</th>
  <th>Stato</th>
  <th>&nbsp;</th>
  <th>&nbsp;</th>
</tr>
</thead>
  <% @teachers.each do |t| %>
  <tr>
    <td><%= t.name %></td>
    <td><%= t.last_name %></td>
    <td><%= t.email %></td>
    <td><%= t.phone %></td>
    <td>
      <% if t.active %>
      ATTIVO
      <% else %>
      NON ATTIVO
      <% end %>
    </td>
    <td>
      <div class="btn primary medium">
	<%= link_to ({:controller => :teachers, :action => :activate, :teacher_id => t.id}) do %>
        <i class="icon-check"></i>Attiva
        <% end %>
      </div>
    </td>
    <td>
      <div class="btn medium danger">
	
	<%= link_to ({:controller => :teachers, :action => :destroy, :teacher_id => t.id}) do %>
        <i class="icon-cancel"></i>Cancella
	<% end %>
      </div>
    </td>
    
  </tr>
  <% end %>
</table>
</div>
