<ul>
  <% @matching.each do |t| %>
  <li>
    Nome : <%= t.name.capitalize %><br />
    Cognome : <%= t.last_name.capitalize %><br />
    Materie : 
    <ul>
      <% t.subjects.each do |s| %>
      <li><%= s.name %></li>
      <% end %>
    </ul>
    Luogo : <%= t.address.city %><br />
    Email : <%= t.email %>
  </li>
  <% end %>
</ul>
