<% unless @matching.empty? %>
<h3>
  <%= @matching.count == 1 ? "1 risultato" : "#{@matching.count} risultati" %>
</h3><br />
<table class="striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Luogo</th>
      <th>Email</th>
      <th>Materie</th>
      <th>Pagina</th>
    </tr>
  </thead>
  <% @matching.each do |t| %>
  <tr>
    <td><%= t.name.capitalize %></td>
    <td><%= t.last_name.capitalize %></td>
    <td><%= t.address.city %></td>
    <% if current_user != nil %>
    <td><%= t.email %></td>
    <% end %>
    <td>
      <ul>
	<% t.subjects.each do |s| %>
	<li><%= s.name %></li>
	<% end %>
      </ul>
    </td>
    <td>
      <%= link_to :controller => :teachers, :action => :visit, :teacher_id => t.id do %>
      <i class="icon-forward" style="font-size: 30px"></i><strong>Visita</strong>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
