<div class="row-full search-full">
  <div class="row center">
      <h2>Ricerca Docenti</h2>
      <h3>Come funziona?</h3>
      <p>È semplicissimo cercare sul portale Archimede! <a href="#"  class="toggle" gumby-trigger="#how-to-search">Scoprilo subito</a>.
      </p>
      <%= form_for :search, url: { :controller => :students, :action => :search_teacher }, :remote => true do |f| %>
      <ul class="centered nine columns">
        <li class="append field">
        <%= f.text_field :text, :placeholder => "Testo Ricerca...", :class => "text input" %>
        <button class="medium danger btn">
          <a><i class="icon-search"></i>Cerca</a>
        </button>
        </li>
      </ul>
      <% end %>

      <div class="drawer" id="how-to-search">
        <table>
          <tr>
            <td><span class="primary label">Materia</span></td>
            <td><i class="icon-quote ruota180"></i>Italiano<i class="icon-quote"></i></td>
            <td>La ricerca mostrerà tutti i docenti di <strong>Italiano</strong></td>
          </tr>
          <tr>
            <td><span class="primary label">Materia</span> + <span class="secondary label">Città</span></td>
            <td><i class="icon-quote ruota180"></i>Italiano Cles<i class="icon-quote"></i></td>
            <td>La ricerca mostrerà tutti i docenti di <strong>Italiano</strong> nelle vicinanze di <strong>Cles</strong></td>
          </tr>
          <tr>
            <td><span class="danger label">Docente</span></td>
            <td><i class="icon-quote ruota180"></i>Mario Rossi<i class="icon-quote"></i></td>
            <td>La ricerca mostrerà i docenti che si chiamano <strong>Mario Rossi</strong></td>
          </tr>
          <tr>
            <td><span class="secondary label">Città</span></td>
            <td><i class="icon-quote ruota180"></i>Trento<i class="icon-quote"></i></td>
            <td>La ricerca mostrerà i docenti che abitano a <strong>Trento</strong></td>
          </tr>
        </table>
      </div>

  </div>
</div>

<div class="row">
    <div class="four columns">
    <h3>Dati personali</h3>
    <br />
    <ul>
      <li>Nome : <strong><%= current_user.name.capitalize %></strong></li>
      <li>Cognome : <strong><%= current_user.last_name.capitalize %></strong></li>
      <li>Email : <strong><%= current_user.email %></strong></li>
      <li>Luogo : <strong><%= current_user.address.city.capitalize %>, <%= current_user.address.province.upcase  %> <%= current_user.address.country.capitalize %></strong></li>
      <li>
  <button class="btn primary medium switch" gumby-trigger="#stud_settings" id="settings_btn">
    <a>
      <i class="icon-tools"></i>Modifica Dati
    </a>
  </button>
      </li>
    </ul>
  </div>

  <div class="eight columns">  
    <div id="results">
    </div>
  </div>

</div>
  
<%= render :partial => "stud_settings_modal" %>