<div class="row">
  <h2>Profilo Studente : <%= current_user.name.capitalize %></h2>
</div>

<div class="row">
  <div class="four columns">
    <h3>Dati studente</h3>
    <br />
    <ul>
      <li>Nome : <strong><%= current_user.name.capitalize %></strong></li>
      <li>Cognome : <strong><%= current_user.last_name.capitalize %></strong></li>
      <li>Email : <strong><%= current_user.email %></strong></li>
      <li>Luogo : <strong><%= current_user.address.city.capitalize %></strong></li>
      <li>
	<button class="btn primary medium switch" gumby-trigger="#stud_settings" id="settings_btn">
	  <a>
	    <i class="icon-tools"></i>
	    Modifica Dati
	  </a>
	</button>
      </li>
    </ul>
  </div>

  <div class="eight columns center">
    <h3>Ricerca Docenti</h3>
    <%= form_for :search, url: { :controller => :students, :action => :search_teacher }, :remote => true do |f| %>
    <ul>
        <li class="append field">
        <%= f.text_field :text, :placeholder => "Testo Ricerca...", :class => "text input" %>
        <button class="medium primary btn">
          <a><i class="icon-search"></i>Cerca</a>
        </button>
      </li>
    </ul>
    <% end %>
    <div id="results">
    </div>
  </div>
</div>
<%= render :partial => "stud_settings_modal" %>
