<div class="row-full search-full">
  <div class="row center">
      <h2>Ricerca Docenti</h2>
      <h3>Come funziona?</h3>
      <p>È semplicissimo cercare sul portale Archimede! <a href="#"  class="toggle" gumby-trigger="#how-to-search"><span style="font-size: 20px">Scoprilo subito</span></a>.
      </p>
      <%= form_for :search, url: { :controller => :students, :action => :search_teacher }, :remote => true do |f| %>
      <ul class="centered nine columns">
        <li class="append field">
        <%= f.text_field :text, :placeholder => "Testo ricerca, esempio: Italiano Trento", :class => "text input" %>
        <button class="medium danger btn">
          <a><i class="icon-search"></i>Cerca</a>
        </button>
        </li>
      </ul>
      <% end %>

      <div class="drawer" id="how-to-search">
        <table>
          <tr>
            <td><span class="primary label">Materia</span></td>
            <td><i class="icon-quote ruota180"></i>Italiano<i class="icon-quote"></i></td>
            <td>La ricerca mostrerà tutti i docenti di <strong>Italiano</strong></td>
          </tr>
          <tr>
            <td><span class="primary label">Materia</span> + <span class="secondary label">Città</span></td>
            <td><i class="icon-quote ruota180"></i>Italiano Cles<i class="icon-quote"></i></td>
            <td>La ricerca mostrerà tutti i docenti di <strong>Italiano</strong> nelle vicinanze di <strong>Cles</strong></td>
          </tr>
          <tr>
            <td><span class="danger label">Docente</span></td>
            <td><i class="icon-quote ruota180"></i>Mario Rossi<i class="icon-quote"></i></td>
            <td>La ricerca mostrerà i docenti che si chiamano <strong>Mario Rossi</strong></td>
          </tr>
          <tr>
            <td><span class="secondary label">Città</span></td>
            <td><i class="icon-quote ruota180"></i>Trento<i class="icon-quote"></i></td>
            <td>La ricerca mostrerà i docenti che abitano a <strong>Trento</strong></td>
          </tr>
        </table>
      </div>

  </div>
</div>

<div class="row">
    <div class="four columns">
    <h3>Dati personali</h3>

    <% if flash[:change_psw_notice] %>
    <div class="alert danger center">
      <%= flash[:change_psw_notice] %>
    </div>
    <% flash.discard( :change_psw_notice ) %>
    <% end %> <!-- end if -->


    <div class="edit">
      <a style="cursor: pointer"class="switch" gumby-trigger="#stud_settings" id="settings_btn"><i class="icon-tools"></i>Modifica</a>
    </div>
    <table>
      <tr>
        <td>Nome</td>     
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <td>Cognome</td>     
        <td><%= current_user.last_name %></td>
      </tr>
      <tr>
        <td>Indirizzo</td>     
        <td><%= "#{current_user.address.street} #{current_user.address.number}"  %><br />
            <%= "#{current_user.address.cap} #{current_user.address.city} #{current_user.address.province}" %><br />
            <%= "#{current_user.address.country}" %>
        </td>
      </tr>
      <tr>
        <td><i class="icon-mail"></i></td>     
        <td><%= current_user.email %></td>
      </tr>
    </table>

    <!-- cambio password -->
    <a href="#" class="toggle active" gumby-trigger="#change_psw"><i class="icon-lock"></i>Cambia password</a>

    <div class="drawer" id="change_psw">
      <ul>
	<li class="field">
	  <%= form_for :student, :url => { :controller => :students, :action => :change_password } do |f| %>
	</li>
	<li class="field">
	  <%= f.password_field :old_password, :placeholder => "Vecchia password", :class => "input field" %>
	</li>
	<li class="field">
	  <%= f.password_field :password, :placeholder => "Nuova password", :class => "input field" %>
	</li>
	<li class="field">
	  <%= f.password_field :password_confirmation, :placeholder => "Conferma nuova password", :class => "input field" %>
	</li>
	<button class="btn primary medium">
	  <a><i class="icon-check"></i>Conferma</a>
	</button>
	<% end %> <!-- end form -->
      </ul>
    </div>
  </div>
    <!-- fine cambio password -->
  <div class="eight columns">  
    <div id="results">
    </div>
  </div>

</div>
  
<%= render :partial => "stud_settings_modal" %>
