<div class="row">
  <h2>Completa la registrazione</h2>
</div>

<div class="row">
  <div class="six columns">
    <h3>&nbsp;</h3>
    <%= form_for :teacher, :url => { :controller => :teachers, :action => :complete } do |f| %>
    <ul class="eight columns">
        <li class="field">
            <%= f.text_field :phone, :placeholder => "Telefono", :class => "text input" %>
        </li>
        <li class="field">
            <%= f.text_field :skype, :placeholder => "Nome skype", :class => "text input" %>
        </li>
        <li class="field">
            <%= f.text_field :cost, :placeholder => "Prezzo", :class => "wide text input" %>
            <%= f.text_field :cost_label, :placeholder => "€/h", :value => "€/h", :class => "narrow text input", :readonly => true %>
        </li>
        <li class="field">
            <%= f.text_field :range, :placeholder => "Range", :class => "wide text input" %>
            <%= f.text_field :range_label, :placeholder => "Km", :value => "Km", :class => "narrow text input", :readonly => true %>
        </li>
        <li class="field">
            <%= f.text_area :availability_days, :placeholder => "Giorni disponibili", :class => "textarea input", :rows => 3 %>
        </li>
        <li class="field">
            <%= f.text_area :info, :placeholder => "Informazioni aggiuntive", :class => "textarea input", :rows => 3 %>
        </li>

        <li class="field">
                    <div class="picker">
                      <%= f.select :sub1, options_for_select(Subject.all.map { |s| [s.name, s.id] }) %>
                    </div>
        </li>
        <li class="field">
                    <div class="picker">
                      <%= f.select :sub2, options_for_select(Subject.all.map { |s| [s.name, s.id] }.insert(0, "")) %>
                    </div>
        </li>
        <li class="field">
                    <div class="picker">
                      <%= f.select :sub3, options_for_select(Subject.all.map { |s| [s.name, s.id] }.insert(0, "")) %>
                    </div>
        </li>

        <li class="field">
          <button class="medium primary btn">
            <a>Completa</a>
          </button>
        </li>
    </ul>         
    <% end %>

  </div>
  <div class="six columns">
    <h3>Informazioni</h3>
    <ul style="list-style-type: decimal">
              <li>Inserimento dati del docente</li>
              <li><strong>Informazioni per lo studente</strong></li>
              <li>Pagamento e attivazione account</li>
            </ul>
    <h4>Attivazione account</h4>        
    <p>Per completare la registrazione, compila il form. I dati che inseriti serviranno agli studenti che ti vorranno contattare.</p>
    <p>
    Una volta completata l'iscrizione l'account sarà attivato appena l'ammistratore riceverà la notifica di pagamento avvenuto.
    </p>
    <h4>Prezzo</h4>
    <p>Inserisci il costo di una singola lezione (1h). Esempio: <strong>25</strong> per indicare 25 €/h.</p>
    <h4>Range</h4>
    <p>Inserisci l'area in km. Esempio: <strong>30</strong> per indicare 30 km.</p>
    <h4>Giorni disponibili</h4>
    <p>Inserisci i giorni e gli orari disponibili.</p>
  </div>
</div>