<div class="row">
  <div class="four columns">
    <h3>&nbsp;</h3>

    <% if current_user.active %>
    <div class="alert success center">
    <% else %>
    <div class="alert warning center">
    <% end %>
      <h3>
	Stato Account <br />
	<% if current_user.active %>
	ATTIVO <h5>Fino al : </h5>
	<h3><%= current_user.deadline %></h3>
	<% else %>
	NON ATTIVO  <h5>Il suo profilo non sarà visualizzabile da parte di terzi fino all'attivazione da parte dell' amministratore</h5>
	<% end %>
      </h3>
    </div>

    <a href="#" class="toggle active" gumby-trigger="#change_psw"><i class="icon-lock"></i>Cambia password</a>
     <% if flash[:change_psw_notice] %>
    <div class="alert danger center">
      <%= flash[:change_psw_notice] %>
    </div>
    <% flash.discard( :change_psw_notice ) %>
    <% end %> <!-- end if -->

    <div class="drawer" id="change_psw">
      <ul>
	<li class="field">
	  <%= form_for :student, :url => { :controller => :teachers, :action => :change_password } do |f| %>
	</li>
	<li class="field">
	  <%= f.password_field :old_password, :placeholder => "Vecchia Password", :class => "input field" %>
	</li>
	<li class="field">
	  <%= f.password_field :password, :placeholder => "Nuova Password", :class => "input field" %>
	</li>
	<li class="field">
	  <%= f.password_field :password_confirmation, :placeholder => "Conferma Nuova Password", :class => "input field" %>
	</li>
	<button class="btn primary medium">
	  <a><i class="icon-check"></i> Conferma</a>
	</button>
	<% end %> <!-- end form -->
      </ul>
    </div>
  

  </div>
  <div class="eight columns">
    <h3>Dati personali</h3>
    <div class="edit">
      <a style="cursor: pointer"class="switch" gumby-trigger="#t_data_settings" id=""><i class="icon-tools"></i>Modifica</a>
    </div>

    <table>
      <tr>
        <td>Nome</td>     
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <td>Cognome</td>     
        <td><%= current_user.last_name %></td>
      </tr>
      <tr>
        <td>Indirizzo</td>     
        <td><%= "#{current_user.address.street} #{current_user.address.number}"  %><br />
            <%= "#{current_user.address.cap} #{current_user.address.city} #{current_user.address.province}" %><br />
            <%= "#{current_user.address.country}" %>
        </td>
      </tr>
      <tr>
        <td><i class="icon-mail"></i></td>     
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <td><i class="icon-phone"></i></td>     
        <td><%= current_user.phone %></td>
      </tr>
      <% if current_user.skype_bool == true %>
      <tr>
        <td><i class="icon-skype"></i></td>     
        <td><%= current_user.skype %></td>
      </tr>
      <% end %>
    </table>
    <h3>Informazioni per studenti</h3>
    <div class="edit">
      <a style="cursor: pointer"class="switch" gumby-trigger="#t_info_settings" id=""><i class="icon-tools"></i>Modifica</a>
    </div>

    <table>
      <tr>
        <td>Descrizione e info</td>     
        <td><%= current_user.info %></td>
      </tr>
      <tr>
        <td>Costo</td>     
        <td><%= current_user.cost %> &euro;/h</td>
      </tr>
      <tr>
        <td>Raggio</td>     
        <td><%= current_user.range %> km</td>
      </tr>
      <tr>
        <td>Disponibilità</td>     
        <td><%= current_user.availability_days %></td>
      </tr>
      <tr>
        <td>Rating</td>     
        <td><% if current_user.rating_bool == true %>
              <%= current_user.rating %>
            <% else %>
              no
            <% end %>
        </td>
      </tr>
      <tr>
        <td>Banca del tempo</td>     
        <td><% if current_user.time_bank_bool == true %>
              si
            <% else %>
              no  
            <% end %>
        </td>
      </tr>
    </table>
    <% if current_user.bill_bool == true %>
    <h3>Dati fattura</h3>
    <div class="edit">
      <a style="cursor: pointer"class="switch" gumby-trigger="#t_bill_settings" id=""><i class="icon-tools"></i>Modifica</a>
    </div>

    <table>
      <tr>
        <td>Ragione sociale</td>     
        <td>Quante bill? <%= current_user.bills.count %></td>
      </tr>
      <tr>
        <td>Nome</td>     
        <td></td>
      </tr>
      <tr>
        <td>Cognome</td>     
        <td></td>
      </tr>
      <tr>
        <td>Partita IVA</td>     
        <td></td>
      </tr>
      <tr>
        <td>Codice fiscale</td>     
        <td></td>
      </tr>
      <tr>
        <td>Indirizzo</td>     
        <td></td>
      </tr>
     </table> 
    <% end %>

  </div>
</div>

<div class="row-full home-2">
  <div class="row">
    <h2>Materie d'insegnamento</h2>
  </div>  
  <div class="row">
    <% current_user.subjects.each do |s| %>
    <div class="four columns">
      <div class="default alert center">
        <h3><%= s.name %></h3>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= render :partial => "teacher_data_settings_modal" %>
<%= render :partial => "teacher_info_settings_modal" %>
<%= render :partial => "teacher_bill_settings_modal" %>

