<div class="row">
  <h1>Archimede</h1>
</div>
<div class="row">
  <div class="six columns">
    <h2>&nbsp;</h2>
    <%= form_for :teacher, :url => { :controller => :teachers, :action => :create } do |f| %>
    <ul class="seven columns">
      <li class="field">
	<%= f.text_field :name, :placeholder => "Your Name", :class => "text input" %>
      </li>
      <li class="field">
	<%= f.text_field :last_name, :placeholder => "Your Last Name", :class => "text input" %>
      </li>
      <li class="field">
	<%= f.email_field :email, :placeholder => "Type a Valid Email", :class => "text input" %>
      </li>
      <li class="field">
	<%= f.text_field :address, :placeholder => "Type Your Address Here", :class => "text input" %>
      </li>
      <li class="field">
	<%= f.password_field :password, :placeholder => "Pick Up a Password", :class => "text input" %>
      </li>
      <li class="field">
	<%= f.password_field :password_confirmation, :placeholder => "Confirm Your Password", :class => "text input" %>
      </li>
      <li class="field">
	<label class="checkbox checked" for="check1">
	  <%= f.check_box :time_bank_bool %>
	  <span></span> Time Bank
	</label>
      </li>
      <li class="field">
	<label class="checkbox checked" for="check1">
	  <%= f.check_box :rating_bool %>
	  <span></span> Allow Rating
	</label>
      </li>
      <li class="field">
	<label class="checkbox checked" for="check1">
	  <%= f.check_box :bill_bool %>
	  <span></span> Do You Need a Bill ?
	</label>
      </li>
      <li class="field">
	<button class="medium primary btn">
	  <a>Sign Up</a>
	</button>
      </li>
    </ul>
    <% end %>
  </div>
  
  <div class="six columns">
    <h2>Registrati</h2>
    <p>
      Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. 
      <% if @teacher and @teacher.errors.any? %>
      <div id="error_explanation" class="alert danger">
	<h3><%= pluralize(@teacher.errors.count, "error") %> prohibited
	  this user from being saved:</h3>
	<ul>
	  <% @teacher.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	  <% end %>
	</ul>
      </div>
      <% end %>
    </p>
  </div>
</div>

