<div class="row-full home-2">
  <div class="row">
    <h3>Materie d'insegnamento</h3>
  </div>  
  <div class="row">
    <% @teacher.subjects.each do |s| %>
    <div class="four columns">
      <div class="default alert center">
        <h3><%= s.name %></h3>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
<h3>Contatti</h3>
<% if current_user == nil %>
  <table>
      <tr>
        <td>Nome</td>     
        <td><%= @teacher.name %></td>
      </tr>
      <tr>
        <td>Cognome</td>     
        <td><%= @teacher.last_name %></td>
      </tr>
  </table>
<% else %>
    <table>
      <tr>
        <td>Nome</td>     
        <td><h4><%= @teacher.name %></h4></td>
      </tr>
      <tr>
        <td>Cognome</td>     
        <td><h4><%= @teacher.last_name %></h4></td>
      </tr>
      <tr>
        <td>Indirizzo</td>     
        <td><%= "#{@teacher.address.street} #{@teacher.address.number}"  %><br />
            <%= "#{@teacher.address.cap} #{@teacher.address.city} #{@teacher.address.province}" %><br />
            <%= "#{@teacher.address.country}" %>
        </td>
      </tr>
      <tr>
        <td><i class="icon-mail"></i></td>     
        <td><h4><%= @teacher.email %></h4></td>
      </tr>
      <% if @teacher.phone != "" %>
      <tr>
        <td><i class="icon-phone"></i></td>     
        <td><h4><%= @teacher.phone %></h4></td>
      </tr>
      <% end %>
      <% if @teacher.skype_bool == true %>
      <tr>
        <td><i class="icon-skype"></i></td>     
        <td><%= @teacher.skype %></td>
      </tr>
        <% if @teacher.rating_bool == true %>
      <tr>
        <td>Rating</td>     
        <td><p><h4>
            <%= (@teacher.ratings.average( :value )*2).to_s[0..2] + "/10  - " + ["Cattivo","Scarso","Normale","Buono","Grandioso"][@teacher.ratings.average( :value ).ceil - 1] unless @teacher.ratings.empty? %>
            </h4></p>
            <p class="center">
              <div id="star" class="eight columns" data-score="<%= @teacher.ratings.average( :value ) %>"></div>
            </p>
              <div id="hint" class="default alert center eight columns" style="font-size:24px"></div>
        </td>
      </tr>
        <% end %>
      <% end %>
    </table>
    <h3>Informazioni</h3>
    <table>
      <tr>
        <td>Descrizione e info</td>     
        <td><%= @teacher.info %></td>
      </tr>
      <tr>
        <td>Disponibilità</td>     
        <td><%= @teacher.availability_days %></td>
      </tr>
      <tr>
        <td>Costo</td>     
        <td><%= @teacher.cost %> &euro;/h</td>
      </tr>
      <tr>
        <td>Raggio</td>     
        <td><%= @teacher.range %> km</td>
      </tr>
      <tr>
        <td>Banca del tempo</td>     
        <td><% if @teacher.time_bank_bool == true %>
              si
            <% else %>
              no
            <% end %>
        </td>
      </tr>
    </table>
<% end %>
</div>    
<div class="row center">
  <button class="primary large btn switch" gumby-trigger="#map_modal">
    <a>
      Mappa
      <i class="icon-map"></i>
    </a>
  </button>
</div>

<%= render :partial => "map" %>
